/*------------------HOME CSS-----------------------*/
*{
    font-family: 'SF Distant Galaxy', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/71e0326db82bd1e2156dcf572bc8778b.jpg);
    background-blend-mode: darken;
    background-repeat: repeat;
}

.meubotao{
    color: #d2ab00;
    border-color: #fdce05;
    border-width: 2px;
}
.meubotao:hover{
    color: black;
    background-color: #d2ab00;
    border-color: rgb(0, 0, 0);
}

.meubotao:hover:active{
    color:#d2ab00;
    background-color: black;
    border-color: #d2ab00;   
}
.navbar-star-wars{
    padding: 0px;

    
}
#carouselItem .text{
    text-shadow: 20px 0px 0px 0px black;
  
}
.explore-site{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

.footer{

    display: flex;
    padding: 30px;
    box-sizing: border-box;
    background-color:black;
    width: 100%;
    height: 300px;
    color: white;
    flex-direction: column;
    
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
}
header{
    background-image: url(img/Capa__1.png);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.header_personagem{
    background-image: url(img/11439\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: 200vh;
}

.header_veiculo{
    background-image: url(img/1305184.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.header_planeta{
    background-image: url(img/1274969.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.header_naves{
    background-image: url(img/12066.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.header_especies{
    background-image: url(img/377754.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
body{
    position: absolute;
}
#carouselExampleDark{
    position: relative;
    top: -600px;
    width: 70%;
    left: 15%;
    box-shadow: 8px 25px 65px 61px
    #0067b3;
}

.text{
    font-family: 'SF Distant Galaxy', sans-serif;
    font-size: 25px;
    color: #ffe961;  
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.borda-imagem{
    border: 15px solid black;

}
#carouselExampleDarkSecond{
    top: -550px;
}

.nav-link{
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 2px #FDCE05;
    margin-right: 15px;
}

.footer_container{
    align-items: center;
}
.footer_geral{
    display: flex;  
}
.simbolo_footer{
    margin: 50px;
}
.redes-sociais{
    align-items: center;
    justify-content: center;
}

/*========= exibição de cards e seu container =========*/

.preconteudo{
    height: 2.5rem;
    width: 100%;
    background-color: black;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    background-color: black;
}

.card{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
    gap: 20px;
    width: 15rem;
    height: 8rem;
    margin-top: 1.5em;
    background-color: black;
    position: relative;
    overflow: hidden;
    transition: 0.6s ease-in;
}

.card::before {
    position: absolute;
    background-color: #ffffff;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
.card:hover::before{
    transition-delay:0.2s ;

transform: scale(40);
}

.card:hover{
    color: #ffffff;

}

.card p{
    padding: 10px 0;
}

.botao{
    width: 2rem;
    background-color: black;
    color: #d2ab00;
    border-color: #fdce05;
    border-radius: 5px;
    border-width: 2px;
}
.botao:hover{
    color: black;
    background-color: #d2ab00;
    border-color: rgb(0, 0, 0);
}